.checkout-header{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.checkout-header .header-content{
  width: 100%;
  max-width: 1100px;

  display: flex;
  align-items: center;
}

.checkout-header .checkout-left-header {
  width: 200px;
}

.checkout-header .logo {
  height: 26px;
  
}

.checkout-header .logo-mobile {
  display: none;
}

@media (max-width: 575px) {
  .checkout-header .checkout-left-header {
    width: auto;
  }
}

.checkout-header .checkout-middle-header {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 22px;
  font-weight: 500;

  display: flex;
  justify-content: center;
}

.checkout-header .return-home-link {
  color: rgb(25, 135, 84);

  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .checkout-header .checkout-middle-header {
    font-size: 20px;
    margin-right: 60px;
  }

  .checkout-header .return-home-link {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .checkout-header .checkout-middle-header {
    margin-right: 5px;
  }
}

.checkout-header .checkout-right-header {
  text-align: right;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.checkout-header .checkout-right-header img {
  height: 32px;
}

@media (max-width: 1000px) {
  .checkout-header .checkout-right-header {
    width: auto;
  }
}

